.signup.span6
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    %fieldset
      .social_sign
        %h3 Change your password.
        %a.gp
          %i.icon.icon-key
      %p.sign_title Make sure it's something nobody else knows.
      = f.hidden_field :reset_password_token
      = f.password_field :password, :autofocus => true, placeholder: "Password", class: "input-xlarge"
      = f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "input-xlarge"
      %br/
      %button.btn.btn-primary.btn-large{:type => "submit"} Change my password
