- flash[:error] = flash[:error].to_a.concat resource.errors.full_messages
.container
  %section#register
    .hgroup
      %h1 Register or Sign in
      %ul.breadcrumb.pull-right
        %li
          %a{:href => root_path} Home
          %span.divider /
        %li.active Forgot Your Password
    = render "messages"
    .row
      = render 'reset'
      = render 'signup'
