.full_page_photo{:style => "background-image: url(images/1.jpg);"}
  .container
    %section.call_to_action
      %h3.animated.bounceInDown
        we really
        %strong love
        what we do
      %h4.animated.bounceInUp
        while
        %strong always trying
        to get the job done!
#main
  .container
    %section#about_us
      .hgroup
        %h1 About us
        %h2
          We are creating an educational tool that teaches children to become responsible smartphone users. This tool allows parents to supervise their child’s phone activity, mitigate risks and incentivise responsible behavior.
        %ul.breadcrumb.pull-right
          %li
            %a{:href => root_path} Home
            %span.divider /
          %li.active About us
      %article
        .row
          .span12
            %p.lead Our team are dedicated to encouraging children to communicate responsibly in the digital world. We were part of the first generation to grow up with mobile phones as young teenages and have experienced the challenges first hand.
            %p This insight has inspired us to take responsibility for this issue by practically implementing our skills and activating our passion to be a catalyst for change. We are committed to combating the cause of some of the most detrimental issues facing the youth of today – txt and cyber bullying, sexting, grooming. Not only does our team have the skills to technically develop this product, we also have advisors who are some of NZ’s leading experts in cybersafety and mobile security.
            %br/
        %h2.section_header
          Meet our Team...
          %small they're always up to something good!
        .row
          .span3.team_member
            %figure{:style => "background-image: url(images/2b.jpg)"}
              %img{:alt => "2a", :src => "images/2a.jpg"}/
            %h5 Pam Ward
            %small Founder
            %hr/
            .team_social
              %a{:href => "#facebook"}
                %i.icon.icon-facebook
              %a{:href => "#twitter"}
                %i.icon.icon-twitter
              %a{:href => "#pinterest"}
                %i.icon.icon-linkedin
              %a{:href => "#googleplus"}
                %i.icon.icon-google-plus
            %p.short_bio In hac habitasse platea dictumst. Suspendisse non tellus ligula. Morbi molestie feugiat tortor a hendrerit.
          .span3.team_member
            %figure{:style => "background-image: url(images/2b.jpg)"}
              %img{:alt => "2a", :src => "images/2a.jpg"}/
            %h5 Saskia Wallace
            %small Designer / Founder
            %hr/
            .team_social
              %a{:href => "#facebook"}
                %i.icon.icon-facebook
              %a{:href => "#twitter"}
                %i.icon.icon-twitter
              %a{:href => "#pinterest"}
                %i.icon.icon-linkedin
              %a{:href => "#googleplus"}
                %i.icon.icon-google-plus
            %p.short_bio In hac habitasse platea dictumst. Suspendisse non tellus ligula. Morbi molestie feugiat tortor a hendrerit.
          .span3.team_member
            %figure{:style => "background-image: url(images/3b.jpg)"}
              %img{:alt => "3a", :src => "images/3a.jpg"}/
            %h5 Michael Arthur
            %small Web-Developer / Founder
            %hr/
            .team_social
              %a{:href => "#facebook"}
                %i.icon.icon-facebook
              %a{:href => "#twitter"}
                %i.icon.icon-twitter
              %a{:href => "#pinterest"}
                %i.icon.icon-linkedin
              %a{:href => "#googleplus"}
                %i.icon.icon-google-plus
            %p.short_bio In hac habitasse platea dictumst. Suspendisse non tellus ligula. Morbi molestie feugiat tortor a hendrerit.
          .span3.team_member
            %figure{:style => "background-image: url(images/4b.jpg)"}
              %img{:alt => "4a", :src => "images/4a.jpg"}/
            %h5 Tataihono Nikora
            %small Web-Developer
            %hr/
            .team_social
              %a{:href => "#facebook"}
                %i.icon.icon-facebook
              %a{:href => "#twitter"}
                %i.icon.icon-twitter
              %a{:href => "#pinterest"}
                %i.icon.icon-linkedin
              %a{:href => "#googleplus"}
                %i.icon.icon-google-plus
            %p.short_bio In hac habitasse platea dictumst. Suspendisse non tellus ligula. Morbi molestie feugiat tortor a hendrerit.
