= render 'messages'
%section#slider_wrapper
  #main_flexslider.flexslider
    %ul.slides
      %li.item{:style => "background-image: url(images/2.jpg)"}
        .container
          .carousel-caption
            %h1
              Giving you
              %strong insight
              to your kids
              %br/
              and their smartphones!
            %p.lead.inverse
              %strong KidsGoMobile
              helps you keep tabs on how your kids are using there smartphones.
      %li.item{:style => "background-image: url(images/3.jpg)"}
        .container
          .carousel-caption
            %h1
              makes use of advanced
              %strong threat
              %br/
              %strong detection
              to keep your kids safe.
            %p.lead.inverse
              %strong KidsGoMobile
              constantly analyses data from your kids and notifies you of any problems.
      %li.item{:style => "background-image: url(images/1.jpg)"}
        .container
          .carousel-caption
            %h1.inverse
              %strong Find out
              where they are.
            %p.lead
              %strong KidsGoMobile
              can report back their last know whereabouts.
#quicksignup
  .container
    .row
      .span6
        %h4 Get your free account now!
      .span6.text-right
        = form_for resource, :as => resource_name, :url => registration_path(resource_name),  :html => {class: "form-inline"} do |f|
          = f.email_field :email, placeholder: "Email", required: ""
          = f.password_field :password, placeholder: "Password", required: "Password", :class => "input-small"
          %button.btn.btn-success{:type => "submit", style:"margin-top:0"} Get Started
#main
  %br/
  %br/
  .container
    %section#features_teasers_wrapper
      .row
        .span4.feature_teaser
          %img{:alt => "responsive", :src => "images/responsive.png"}/
          %h3 Suspendisse nec risus
          %p
            Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.
        .span4.feature_teaser
          %img{:alt => "responsive", :src => "images/responsive.png"}/
          %h3 Suspendisse nec risus
          %p
            uspendisse nec risus fermentum sapien congue fermentum sed at lorem.
        .span4.feature_teaser
          %img{:alt => "responsive", :src => "images/responsive.png"}/
          %h3 Suspendisse nec risus
          %p
            Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.
